html, body {
    height:100%; 
    width:100%; 
}

.clicked {
    position:absolute; 
    color:blue; 
}
.open {
    position:absolute; 
    color:black; 
}
.hovering {
    position:absolute; 
    color:cadetblue; 
    
}